@font-face {
  font-family: 'heebo';
  src: url('assets/fonts/heebo.ttf');
}

@font-face {
  font-family: 'bebas';
  src: url('assets/fonts/bebas.ttf');
}

:root {
  --blue: rgb(13, 94, 180);
}

body {
  width: 100%;
  margin: 0;
  font-family: heebo;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--blue);
}

.hero-image {
  flex-basis: 40rem;
  flex-grow: 1;
}

.hero-image img {
  max-height: 120vh;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hero-text {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  font-variation-settings: 'wght' 700;
  font-size: 5.5vw;
  color: white;
  font-family: bebas;
  letter-spacing: 0.25rem;
}

.hero-text div {
  font-variation-settings: 'wght' 200;
  font-family: heebo;
  font-size: 3.5vw;
  letter-spacing: normal;
  margin-bottom: 0.5rem;
  text-shadow: none;
}

img {
  max-width: 100%;
}

main {
  max-width: 40rem;
  margin: 4rem auto 2rem auto;
  padding: 2rem;
}

main h2 {
  font-family: bebas;
  font-size: 3rem;
  color: var(--blue);
  margin-bottom: 1rem;
}

main div {
  font-family: bebas;
  font-size: 2rem;
  margin-bottom: 4rem;
}

main img:first-of-type {
  margin-top: 2rem;
  margin-bottom: 0;
}

.personal-info label {
  display: none;
}

.form-postcards label {
  font-family: heebo;
  font-size: 1rem;
}

form .personal-info input {
  width: 90%;
  line-height: 2rem;
  border: 1px solid black;
}

form label {
  font-weight: bold;
}

form button {
  width: 100%;
  background-color: var(--blue);
  color: white;
  font-family: bebas;
  font-size: 2rem;
  border: 2px solid var(--blue);
}

form button:hover {
  transition: 0.2s;
  background-color: white;
  color: var(--blue);
  cursor: pointer;
}

.form-postcards input {
  width: 2rem;
}
