<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="hero">
      <div class="hero-image">
        <img src="assets/images/church.jpg" alt="Postcard #1">
      </div>
      <div class="hero-text">
        <h1>
          Buy<br>
          Some<br>
          Cards!
        </h1>
      </div>
    </section>
    <main>
      {{content}}
      <section class="postcards">
        <div>
          <h2>We Are Our Mountains // White</h2>
          <img src="assets/images/postcards/postcard-1.png" alt="Postcard #1" loading="lazy">
        </div>
        <div>
          <h2>Pilgrim</h2>
          <img src="assets/images/postcards/postcard-2.png" alt="Postcard #2" loading="lazy">
        </div>
        <div>
          <h2>Half Dome</h2>
          <img src="assets/images/postcards/postcard-3.png" alt="Postcard #3" loading="lazy">
        </div>
        <div>
          <h2>We Are Our Mountains // Brown</h2>
          <img src="assets/images/postcards/postcard-4.png" alt="Postcard #4" loading="lazy">
        </div>

      </section>

      <p><strong>Please send in your donation to @arya-jemal <em>before</em> submtting this form</strong></p>

      <form name="donate" netlify>
        <div class="personal-info">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name"><br>
          <label for="address">Address</label>
          <input type="text" name="address" placeholder="Address"><br>
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Email"><br>
          <label for="venmo">Venmo Handle</label>
          <input type="text" name="venmo" placeholder="Venmo Handle"><br>
        </div>

        <p>Choose the amount of each type you would like. Each postcard is <strong>$10.</strong></p>

        <div class="form-postcards">
          <div>
              <label for="white-mountains">We Are Our Mountains // White</label>
            <input type="number" name="white-mountains" value="0">
          </div>
          <br>
          <div>
            <label for="pilgrim">Pilgrim</label>
            <input type="number" name="pilgrim" value="0">
          </div>
          <br>
          <div>
            <label for="half-dome">Half Dome</label>
            <input type="number" name="half-dome" value="0">
          </div>
          <br>
          <div>
            <label for="brown-mountains">We Are Mountains // Brown</label>
            <input type="number" name="brown-mountains" value="0"><br>
          </div>
        </div>

        <p>
          You will recieve an email when your postcard is sent. Thank you for your donation!
        </p>

        <button type="submit" name="button">Submit</button>

      </form>
    </main>
  </body>
</html>
