<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <section class="hero">
      <div class="hero-image">
        <img src="assets/images/arya-1.jpg" alt="Arya Jemal">
      </div>
      <div class="hero-text">
        <h1>
          Arya <br>
          Jemal
          <div>for</div>
          City <br>
          Council
        </h1>
      </div>
    </section>
    <main>
      {{content}}
    </main>
  </body>
</html>
